extends layout

block content
    form(method='POST' action='/new')
        h1 Enter your own message!
        label.form-label(for='messageUser') Name:
        input.form-control(type='text', placeholder='Username' name='messageUser' style={margin:'5px'})
        br
        label.form-label(for='messageText') Message:
        textarea.form-control.message-input( placeholder='Your text here...' name='messageText' style={margin:'5px'})
        br
        button.btn(type='submit' style={margin:'auto'}) Submit
        a(href="/" class="btn btn-back") Back