extends layout

block content
  h1= title
  p Welcome to #{title}! Feel free to make a post.
  a.btn(href="/new") New Post
  each item in messages.slice(0).reverse()
    li.speech-bubble=  item.text + " @ " + item.added
    p.username #{item.user}
  p Created by #[a(href="https://gitlab.com/asuar/node-message-board") Alain Suarez]