body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 500px;
  margin: auto;
}

a {
  color: #0051ff;
}

p,
h1 {
  text-align: center;
}

li {
  margin: 0px 0px 10px 0px;
  list-style-type: none;
  padding: 5px;
  width: 500px;
  color: black;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.username {
  margin: 0px 0px 30px 0px;
  font-weight: 800;
  color: #007c9b;
  text-align: left;
}

.speech-bubble {
  position: relative;
  background: rgb(250, 250, 250);
  border-radius: 0.4em;
  border: solid 1px #007c9b;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35px;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-top-color: #007c9b;
  border-bottom: 0;
  border-left: 0;
  margin-left: -5.5px;
  margin-bottom: -11px;
}

.btn {
  padding: 10px;
  margin: 10px;
  background-color: hsl(217, 83%, 55%);
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: hsl(217, 86%, 46%);
}

.btn-back {
  background-color: hsl(0, 83%, 55%);
}

.btn-back:hover {
  background-color: hsl(0, 86%, 46%);
}

.form-label {
  font-weight: 800;
  color: #007c9b;
  top: 0;
}

input {
  border: 1px solid #007c9b;
}

textarea {
  display: block;
  border: 1px solid #007c9b;
  width: 300px;
  height: 100px;
}
